.naming-opportunities h1,
.naming-opportunities .h1 {
	margin-top: 10px;
}

.feature-box {
	background: url("../images/striped-grey.png") !important;
}

.available-spaces LI.my-highlight {
	background-color: #EBF0CC;
}

.named-spaces LI.my-highlight {
	background-color: #E5E5E5;
}

.front a.my-highlight {
	background-color: #F5F5F5;
}
