{{with .Rows}}
<table class="table table-striped">
<thead>
<tr>
	<td>Event Name</td>
	<td>Publication<br />Status</td>
</tr>
</thead>
<tbody>
{{range .}}
<tr>
	<td>{{ .EventName }}</td>
	<td>{{ .PublicationStatus }} </td>
</tr>
{{end}}
</tbody>
</table>
{{end}}