
<table class="table table-condensed">
	<thead>
		<tr>
			<td>Starts</td>
			<td>Ends</td>
			<td>Registration Type</td>
		</tr>
	</thead>
	<tbody>
	{{ range . }}
		<tr>
			<td>{{.WhenStart}}</td>
			<td>{{.WhenEnd}}</td>
			<td>{{.RegistrationType}}</td>
		</tr>
	{{ end }}
	</tbody>	
</table>
