{{with .}}
<div class="row">
	<div class="col-sm-12">
		<div class="h2">{{ .EventName }}</div>
		<div>{{ .EventDescription }}</div>
	</div>
	{{template "occurrences.html" .Occurrences}}
</div>
{{end}}