<!DOCTYPE html>
<html>
	<head>
		<title>{{.Title}}</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
		<link rel="stylesheet" href="/assets/css/dulcet.style.css">
	  <link rel="stylesheet" href="/assets/css/style.css">
		
	</head>
	<body>
		<div id="main" class="main">
	  	<div class="container" id="mast">
			  <div id="dul-masthead-filler" style="width: 100%; text-align: center;">
		      <div class="dul-masthead-wrapper" style="height: 105px; width: 1280px; max-width: 1280px; background-color:#053482; margin: 0 auto; margin-bottom: -2px;">
					<a href="//library.duke.edu/"><img src="//library.duke.edu/masthead/img/logo.png" alt="Duke University Libraries" id="dul-masthead-logo" style="float: left; margin: 20px;"></a>
				</div>
			</div>
		</div>

		<div class="container">
		{{printf "%s" .Body}}
		</div>
	<!-- Latest compiled and minified JavaScript -->

		<!-- https://github.com/duke-libraries/dul-masthead -->
		<script src="//library.duke.edu/masthead/load-masthead.js.php?fixed=false&width=1280&onl91i"></script>

		<!-- Grab jQuery from a CDN -->
		<script src="/assets/js/jquery-2.1.4.min.js"></script>

		<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

		<script src="/assets/js/dulcet.script.js"></script>
	</body>
</html>